
  @import url('https://fonts.googleapis.com/css2?family=Asap&family=Poppins:wght@100;400&display=swap');

/* .beni{


    background: black;
    
} */
.head p{
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffff;
    margin-top: 3rem;
    font-family: 'Asap', sans-serif;
    padding: 0rem 2rem;
    line-height: 150%
}
 span.text{
    background: linear-gradient(3deg,#00C6FF,#0072FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.benefits{
   
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
   margin: 1rem 2rem;

}

.benefit-row-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction:; */
}
.benefit-row-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction:; */
}

.benefit{
    height: 19rem;
    width: 40.35rem;
    margin: 0.7rem 0.7rem;
    background-color: black;
    border: 0.1rem solid #ffff;
     border-radius: 2rem; 
    box-sizing: border-box;
    padding-left: 1rem;
    padding-top: 3rem;
    
    
}
.benefit:hover{
    transform: scale(1.03);
    box-shadow: 0.8rem 0.8rem white ;
    transition: 1sec;
    border: 3px solid transparent;
    border-radius: 2rem;
    filter: drop-shadow(0 0 0.3em #1cd0ff);
    transition: 0.4s; 

}



 .benefit h2{
    margin-left: 1.9rem;
    width: 80%;
    font-size: 2rem;
    font-weight: bold;
    color: #ffff;
    line-height: 130%;
    margin-bottom: 1rem;
    font-family: 'Asap', sans-serif;
}
.benefit p{
    margin-left: 1.9rem;
    width: 80%;
    font-size: 1.3rem;
    color: #b5b3b3;
    line-height: 130%;
    font-family: 'Asap', sans-serif;
/* font-family: 'Poppins', sans-serif; */
}
.benifit:hover{
   bottom : 0.6em;
    right: 0.6em;
    transition: 1s;
    box-shadow: 2rem 2rem #ffff;
}



@media(max-width:1000px) and (min-width:380px) {
    .head p{

        text-align: center;
        font-size: 1.8rem; 
        width: 100%;
    }
     .benefits{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    
     }  
    
    .benefit{
        height:18rem;
        width: 19.5rem;
         
        margin-top: 2rem; 
    } 
    .benefit h2{
        width: 70%;
        font-size: 1.2rem;
        align-items: center;
        justify-content: center;
    }
    .benefit p{
        margin-left: 1.9rem;
        width: 84%;
        font-size: 1.2rem;
    }


    /* .benefit-row-1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .benefit-row-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    } */
}
@media(max-width:380px) {
    .head p{

        text-align: center;
        font-size: 1.5rem; 
        width: 100%;
    }
     .benefits{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    
     }  
    
    .benefit{
        height:16rem;
        width: fit-content;
        /* width: 13rem; */
        /* margin: auto;   */
       padding: 1.8rem;
        
        
    } 
    .benefit h2{
        width: 90%;
        font-size: 1.2rem;
        align-items: center;
        justify-content: center;
        margin-left: 0.2rem;
        text-align: center;
    }
    .benefit p{
        margin-left: 0.2rem;
        font-size: 0.9rem;
        text-align: left;
        width: 100%;
    }
}

@media (max-width: 700px ) {


    .benefit{
        height:18rem;
        width: 40rem;
         
        margin-top: 2rem; 
    } 
    .benefit-row-1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       flex-wrap: wrap;
    }
    .benefit-row-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 2rem;
    }
}


