* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.curriculum {
  background-color: #fff;

  padding: 4rem;
}


.card-title {
  font-size: 2rem;
  font-weight:bold;
  text-align: center;
  
  color: #4c4e61;


}



.card-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100wh;
  /* height: 100vh; */
  flex-wrap: wrap ;


}
.card-con {
  width: 25rem;
  height: 250px;
  border: 1.5px solid rgba(187, 187, 187, .2);
 /* border: 0.5px solid black; */
  border-radius: 1rem;
  padding: 1rem;
  /* text-align: center; */
  margin: 10px;
  
}

.card-det {
  text-align: left;
 
  color: white;
}

.red {
  
  display: flex;
  text-align: center;
  justify-content: space-between;

 
}
#red-1 {
  color: #4c4e61;
  text-align: left;
  padding-left: 1rem;
    font-size: 1.2rem;
}
#red-2 {
  color: #4c4e61;
  text-align: right;
  /* padding: 1rem 1rem 1rem 6rem; */
    font-size: 1.2rem;
    padding-right: 1rem;
}


.card-det h2 {
  color:black;
  
  font-weight: 900;
  font-size: 1.7rem;
  padding: 2rem 1rem 0.5rem 1rem;
}



.card-con:hover {
  box-shadow: 0px 20px 20px 0px rgba(220, 210, 191, 0.734);
}





@media (max-width: 450px) {
    .card-con{
        width: 95%;
    }

    .card-title{
      font-size: 1.5rem;
      text-align: left;
    }

    .card-det h2{
      font-size: 1.3rem;
      line-height: 150%;
    }

    .curriculum {
      padding: 2rem;
    }
}
@media (max-width:900px)  and (min-width :450px ) {
    .card-con{
        width: 70%;
        text-align: center;
    }
}

@media (min-width:900px) {
    .card-con{
      width: 32%;
      margin:2vh 1vh;
    }
}

