*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

body .hero .hero-logo .hero-logo-1 img {
    width: 10rem ;
    height: 4rem;
    margin-top: 8px ;
    margin-left: 2rem;
}

  


 
  
  .header {
  
 
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
  }
  
  .header-con {
    text-align: center;
    color: azure;
    width: 90vw;
    
    border: 2px solid #1c1c1c;
    background-color: #1c1c1c;
    border-radius: 1.25 rem;
    padding: 1rem;
  
  }
  
  .header-content h1 {
    
      font-size: 2.7rem;
      font-weight: 900;
      line-height: 130%;
      margin-bottom: 1.8rem;
  }
  
  .header-content p {
    color: #f4f4f4;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
  }
  
  
  
  .button {
    margin-top: 2rem;
  }
  
  .button a {
    width: 50px;
    
    padding: 15px;
    
    transform: translate(-50%, -50%);
    
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    
    background: rgb(0, 198, 255);
    /* background: linear-gradient(90deg, rgba(0,198,255,0.9950105042016807) 2%, rgba(0,114,255,1) 100%); */
    
  /* background: linear-gradient(90deg, yellow,orange,red,violet,purple,blue,yellow); */
  background: linear-gradient(
    90deg,
    rgba(0, 114, 255, 1),
    rgba(5, 152, 193, 0.995),
    
    purple,
    blue
  );
  background-size: 400%;
  border-radius: 10px;
  z-index: 1;
  animation: animate 8s linear infinite;
  }
  
  @keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
  }
  
  
  /* youtube video */
  
  .header-video {
    margin: 1.5rem;
  }
  
  .header-video iframe {
    border: 4px solid black;
    width: 48vw;
    height: 42vh;
    margin-bottom: 0.5rem;
  
    
  }
  
  
  
  
  @media (max-width:480px) {
  
  
    .button {
      margin-top: 1rem;
    }
    
    .header-content h1 {
      margin-bottom: 0.67rem;
      font-size: 2rem;
    }
  
    
  
    .header-con {
      background-color: black;
      border: 0px;
      width: 100vw;
  
    }
    .button a{
   font-size: 1rem;
    }
  
    .header-video{
      margin: 0rem;
      margin-top: 1rem;
  
  
    }
    .header-video iframe {
      width: 80vw;
      height: fit-content;
  
    }


    body .hero .hero-logo .hero-logo-1 img {
     display: none;
    }

    
    
  }
  @media (max-width:900px) and (min-width:480px) {
    .button a{
    font-size: 1.5rem;
    }
    .header-video {
  
      margin: 0.9rem;
  
    }

    body .hero .hero-logo .hero-logo-1 img {
        width: 7.5rem;
        height: 2.5rem;
       }

   

   
  
    .header-video iframe {
      width: fit-content;
      height: fit-content;
    }
  
    .header-content h1 {
      margin-top: 3rem;
    }
  }
  @media (min-width:900px) {
  
    .header-content h1 {
      margin-top: 4rem;
    }
  }
  
  
  
  
  
  
 
  
  
  
  
  