@import url('https://fonts.googleapis.com/css2?family=Asap&family=Poppins:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    

    /* background-color: black; */
    font-family: 'Poppins', sans-serif;
}

 .timer-button {
    width: 100%;
    height: 70px;
    backdrop-filter: blur(23.5px);
    margin: 20px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(136deg, #6d88fa 0, #ff6a72 52.6%, #bdff9d 100%);
     background: linear-gradient(136deg,#00C6FF,#0072FF); 
    padding-left: 2.5rem;
    padding-right: 2rem;
     
}

.timer {
    display: flex;
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    
}

.num { 

    width: 45px;
    background: #f2f2f2;
    
    height: 35px;
    border-radius: 5.091px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: #1e1e1f;
    font-family: "Roboto Mono Regular";
    font-size: 15.545px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 2px;
    padding: 2px;
    margin-bottom: 0px;




    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0072FF;
    border: 2px solid black;
    background-color: #fff;
    margin: 6px;
    width: 70x;
    height: 40px;
    padding: 9px;
    border-radius:15px ;
    box-shadow: 0px 0px 0px 0px white; */
}

.timer-content {
    color: rgb(253, 253, 253);
}



.colon{
    
    font-size: 2rem ;
} 

.timer-button .timer-content .text {
    color: #fff;
    font-family: 'Asap', sans-serif;
   
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.timer-button  h1, h2, h3, h4, p {
    margin: 0;
}

.clock span {
    color: #FFF;
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    height: fit-content;

}

.clock{

}

@media (max-width:700px) {
    
    .timer-button{
        flex-direction: column;
        height: fit-content;
        flex-direction: column;
        gap: 0px;
        padding-bottom: 0.4rem;
    }
   .timer-button .timer-content .text {
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 0.8rem 0 0.8rem;
    gap: 0px;
   }

   .num p {
    font-size: 1.2rem;
    font-family: 'Asap', sans-serif;
    
   }

   .num {
    width: 40px;
    height: 30px;
   }

   .colon{
    font-size: 1.7rem;
    margin-top: -0.3rem;
   }


} 


